{% extends 'layout.html' %}

{%block title%}
        Загрузка файлов
{% endblock %}

{%block content%}
    <div   class="features">
        <h1>Загрузка файлов</h1>
                <p></p>
    </div>
    <p>
    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <u1>
            {% for message in  messages %}
                 <li>{{ message }}</li>
            {% endfor %}
            </u1>
        {% endif %}
    {% endwith  %}
    </p>
                <form action="/upload-image" method="POST" enctype="multipart/form-data">
                     <div class="form-group">
                        <div><label for="image_file">Текст преподавателя</label></div>
                        <div><input type="file" name="image" id="image" /></div>
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group"></div>
                    <div class="form-group">
                                    <div> <label for="image_file">Выберите файлы студентов или группы: </label></div>
                                    <div><input type="file" name="files[]" id="fileInput" multiple></div>

                    </div>
                    <div>
                        <button style="width: 20%;" type="submit" class="files-button form-group btn btn-primary">Загрузить</button>
                    </div>


                </form>

    </div>

{% endblock %}